@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
	border-bottom: 2px solid black;
}

.linkz {
	text-align: center;
}

.linkz p a {
	padding-left: 0.6em;
}

.photo {
	font-size: 1.9em;
}

